/*-- scss:defaults --*/

$link-color: #494983;
$presentation-font-size-root: 40px;
$font-family-sans-serif: Raleway, Open Sans, Roboto;

$presentation-heading-font: Fira Sans, Liberation Sans, sans serif;
$presentation-heading-color: #967bc0;
